name: Caddy Agent Github Image CI

on:
  workflow_dispatch:
  push:
    branches: [ "main"]
    paths:
      - Dockerfile
      - caddy-agent-watch.py

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write  # Required to push to GHCR

    steps:
    - uses: actions/checkout@v3

    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v2.2.0
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Docker meta
      id: meta
      uses: docker/metadata-action@v4.6.0
      with:
        # Lowercase version of the repo name is standard for GHCR
        images: |
          ghcr.io/${{ github.repository }}
        flavor: |
          latest=auto
        tags: |
          type=raw,value=latest,enable={{is_default_branch}}
          type=raw,value={{ date 'YYYYMMDD-HHmmss' }},prefix={{ sha }}-

    - name: Build and push Docker image
      uses: docker/build-push-action@v4.1.1
      with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
